body {
    padding-top: 20px;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.usuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

textarea {
    resize: none;
}

h1,
h2 {
    text-align: center;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    .usuario {
        flex-direction: column;
        text-align: center;
    }
}